<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page xD</title>
</head>
<body>
  <h1>Display Page</h1>
  <table border="1">
    <tr>
      <th>4 Eye Reviewer</th>
      <th>GO</th>
      <th>Status</th>
      <th>Job Name</th>
      <th>EE</th>
    </tr>
    <tr th:each="item : ${dataItems}">
      <td th:text="${item.column1}"></td>
      <td th:text="${item.column2}"></td>
      <td th:text="${item.column3}"></td>
      <td th:text="${item.column4}"></td>
      <td th:text="${item.column5}"></td>
    </tr>
  </table>
</body>
</html>