<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <img src="/images/banner.jpg" class="banner" alt="Banner">
    <div class="container">
  <h1>Esteban's 4EYE Review Home Page</h1>
    <div class="button-container">
<form action="/upload" method="get">
  <button type="submit">Go To Upload Page</button>
</form>
    </div>
    </div>
</body>
</html>