<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1> Please enter user credentials</h1>

    <form action="/login" method="post">
      <label for="uname"><b>Username</b></label>
      <input type="text"placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="text"placeholder="Enter Password" name="psw" required>

      <div class="button-container">
        <button type = "submit"> Login </button>
      </div>

    </form>

    <div class="button-container">
      <form action="/" method="get"> //Temporary, I need to make the correct page redirect
        <button type="submit"> Forgot Password or Username</button>
      </form>
    </div>

  </body>
  </html>